@model IEnumerable<CourseWork2019.Models.Quiz>

@{
    ViewData["Title"] = "Список викторин";
}

<h1>Список викторин</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Создать новую</a>
    </p>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuizName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a asp-action="Pass" asp-route-id="@item.QuizID">Пройти викторину</a>
                    @if (User.IsInRole("admin"))
                    {
                        <span>
                            | <a asp-action="Edit" asp-route-id="@item.QuizID">Редактировать</a> |
                            <a asp-action="Details" asp-route-id="@item.QuizID">Подробнее</a> |
                            <a asp-action="Delete" asp-route-id="@item.QuizID">Удалить</a>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
