@model IEnumerable<CourseWork2019.Models.Rubric>

@{
    ViewData["Title"] = "Список рубрик";
}

<h1>Список рубрик</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Создать новую рубрику</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RubricName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RubricName)
                </td>
                <td>
                    <a asp-controller="Quizzes" asp-action="PassRubric" asp-route-id="@item.RubricID">Пройти рубрику</a>
                    @if (User.IsInRole("admin"))
                    {
                        <span>
                            | <a asp-action="Edit" asp-route-id="@item.RubricID">Редактировать</a> |
                            <a asp-action="Details" asp-route-id="@item.RubricID">Удалить</a> |
                            <a asp-action="Delete" asp-route-id="@item.RubricID">Подробнее</a>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
