@model CourseWork2019.ViewModels.QuestionDetailsModel

@{
    ViewData["Title"] = "Подробнее о вопросе";
}

<h1>Подробнее о вопросе</h1>

<div>
    <h4>Вопрос</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.QuestionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Rubric)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Rubric.RubricName)
        </dd>
    </dl>
    <h5>Ответы:</h5>
    <table>
        @foreach (var i in Model.Answers)
        {
            <tr>
                <td>@i.AnswerText</td>
                <td>@i.IsCorrectAnswer</td>
            </tr>
        }
    </table>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Question.QuestionID">Вернуться к редактированию</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
